:root {
--primaryfont: "Roboto", sans-serif;
    --primarycolor: #2e2f42;
    --whitecolor: #ffffff;
    --secondarycolor: #4d5ae5;
}
body {
    font-family: var(--primaryfont);
        color: #434455;
        background-color: var(--whitecolor);
}

.your-section-class {
    background-color: #FFFFFF;
}
.text-link {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}
.text-link:hover {
    color: #404bbf;
}

.text-link:focus {
    color: #404bbf;
}
.logo{
    color: #4D5AE5;
        font-size: 18px;
        font-weight: 800;
        text-decoration: none;
        text-transform: uppercase;
}
.logo-header{
    color: #2E2F42;
        font-size: 18px;
        font-weight: 800;
}
.logo-header-down{
    color: #F4F4FD;
        font-size: 18px;
        font-weight: 800;
}
.nav-list {
    color: #2E2F42;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
}

.nav-list:hover {
    color: rebeccapurple;
}

.contact-list{
    color: #434455;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
}
.adres-nav{
    font-style: normal;
}

.nav-contact{
    color: #434455;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        text-decoration: none;
}

.portfolio-button{
    color: #4D5AE5;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 500;
}
.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button-primary {
    background-color: #4D5AE5;
    color: #ffffff;
}

.button-primary:hover {
    background-color: #404BBF;
}

.button-primary:focus {
    background-color: #404BBF;
}

.portfolio-button-second{
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    background: var( --Cloud, #F4F4FD)
}
.portfolio-heading{
color: #2E2F42;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
}
.portfolio-category{
    color: #434455;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 24px;
}
.footer-text{
    color: #F4F4FD;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        white-space: pre-line;
}

.footer-background {
    width: 100%;
    height: 100%;
    background: #2E2F42;
}

.list{
    list-style: none;
}
.nav-link{
    color: #434455;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
}
.nav-link{
    text-decoration: none;
}
ul,
ol,
a {
    list-style: none;
    text-decoration: none;
}

.your-header-class {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

